$card-font: 'Courier New', Courier, monospace
$font-size: 1rem
$font-size-small: 0.6rem
$emoji-font-size: 1.5rem

$large-space: 5rem
$small-space: 2rem

$card-padding: 0.75rem
$card-border-radius: 25px