@import ../_variables

.search-container 
	display: flex
	flex-direction: row 
	height: 100vh 
	align-items: stretch
	background-color: blueviolet 
.search-item__right 
	padding: $large_space
	flex: 1.1
.search-item__left 
	padding: $large_space 
	flex: 1 
	background-color: white 