@import ../_variables

.app-container
	display: flex
	flex-direction: column
	height: 100vh
	padding-bottom: 4.5rem

.search-container 
	display: flex
	flex:2
	flex-direction: row 
	height: 100%
	
.search-item__right
	flex: 1.1
	
.search-item__left
	display: flex
	flex: 1
	background-color: $left-pane-color
	flex-direction: column
	border-right: 3px dashed black