@import ../_variables

.app-container
	display: flex
	flex-direction: column
	height: 100vh
	overflow: hidden

.search-container 
	display: flex
	flex:2
	flex-direction: row 
	height: 100%
	max-height: 92.5vh
	
.search-item__right
	flex: 1.1
	
.search-item__left
	display: flex
	flex: 1
	background-color: $left-pane-color
	flex-direction: column
	border-right: 3px dashed black
	max-height: 93vh