@import ../_variables

.list-container
	height: 100%
	overflow: auto
	background-image: url(/src/media/cardboard_texture.jpg)
	background-size: cover
	background-repeat: no-repeat
	box-shadow: 5px 0px 20px darken($cb-brown, 30deg) inset

.story-list 
	display: flex
	flex-direction: column 
	row-gap: $xm-space
	height: 100%
	overflow: auto
	padding-top: $xm-space
	padding-bottom: $xm-space
	padding-left: $medium-space
	padding-right: $medium-space