@import ../_variables

.form-container
    height: 100%
    width: 100%
    display: flex
    flex-direction: column

.form
    font-family: $form-font
    display: flex
    flex: 1.5
    flex-direction: column
    height: 100%
    row-gap: 1rem
    padding: $small-space

.form-row
    display: flex

.form-row-body
    display: flex
    height: 100%

.text
    flex: 1
    font-size: 1.1rem
    display: flex
    justify-content: flex-end
    padding-right: 1rem

.field
    flex: 5
    resize: none